*{
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}



body{
    background-color:cadetblue;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 4px 2px 2px 4px rgb(194, 184, 184);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;

}

.pagination{
    display: flex;
    align-items: center;
    padding: 10px 40px;
    border-radius: 6px;
    background: #fff;
    color:#383838;
}
ul{
    margin: 20px 30px;
}
ul li{
    display: inline-block;
    margin:0 10px;
    width:45px;
    height:45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height:45px;
    cursor: pointer;
}
ul li.active{
    color:#fff;
    background-image: linear-gradient(#ff4568,#ff4568);
    background-repeat: no-repeat;
}



.btn1, .btn2{
    display: inline-block;
    align-items: center;
    font-size:22px;
    font-weight: 500;
    color:#383838;
    background-color: transparent;
    outline: none;
    border:none;
    cursor: pointer;

}

